*{
  margin:0;
}
body{
  background-color: #f5f6fa;
  font-family: 'Roboto', sans-serif;
}
.app{
  display: flex;
  justify-content: space-evenly;
  background-color: #f5f6fa;
  padding: 20px;
 
}

.app__dropdown {
  background-color: white;
}
.app_header{
  display: flex;  
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.app_header h1{
  font-size: 1.5rem;
  font-weight: 600;
  color: #555;
}
.app_stats{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.app_left{
  flex: 0.9;
}
/* .app_stats div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
} */

@media (max-width: 990px) {
  .app{
    flex-direction: column;
  }
}